<%- include('../partials/adminHeader.ejs') %>



<section id="reportsPage">
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid h-100">
      <a class="navbar-brand me-3 " href="#">
        <img src="/admin/img/logo-blue.png" alt="logo 404" width="90px">
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              Dashboard
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Reports 
            </a>
            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
              <a class="dropdown-item" href="#">Daily Report</a>
              <a class="dropdown-item" href="#">Weekly Report</a>
              <a class="dropdown-item" href="#">Yearly Report</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Products
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/customerlist">
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categorylist">
              Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="accounts.html">
              Coupons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="accounts.html">
              <i class="far fa-user"></i> Accounts
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i> Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="settingsDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Banner</a>
              <a class="dropdown-item" href="/admin/logout">LogOut</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a class="nav-link d-block" href="login.html">
              Admin, <b>Logout</b>
            </a> -->
            <a class="nav-link d-block" href="login.html">
              <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-gear" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.478 1.522a5.972 5.972 0 0 0-.956-.504l-.217-1.294C9.163-.35 8.5-.2 8.5.383v1.268c-.265.08-.519.204-.748.37l-1.232-.71a5.995 5.995 0 0 0-1.186-.384l-.218 1.294c-.338.106-.658.269-.956.504l-1.293-.217c-.257-.044-.515-.066-.774-.066H1.5v1.5h1.022c.016.17.044.336.086.497l-1.293.218a6.035 6.035 0 0 0-.504.956l1.294.217c.106.338.269.658.504.956l-.217 1.293a5.972 5.972 0 0 0-.504.956l-1.294.218c-.044.161-.072.327-.086.497H1.5v1.5h1.022c.259 0 .517-.022.774-.066l.218 1.294c.235.14.455.306.651.504l-1.293 1.293a5.972 5.972 0 0 0-.504.956l1.293.218c.044.258.066.516.066.774v1.023h1.5v-1.022c.174-.014.34-.042.5-.086l.217 1.294a5.97 5.97 0 0 0 .956.504l-.217 1.293c-.106.338-.269.658-.504.956l1.293 1.293c.196.198.416.364.651.504l-.218 1.294c-.163.045-.331.073-.497.086v1.022h-1.5v-1.022c-.257-.016-.513-.044-.77-.086l-.217 1.294a5.97 5.97 0 0 0-.956.504l1.294.217c.044.163.072.331.086.497H1.5v1.5h1.022a6.028 6.028 0 0 0-.086.5l-1.294.217a5.975 5.975 0 0 0 .504.956l1.293-.217c.338-.106.658-.269.956-.504l.217 1.294c.258.044.516.066.774.066h1.023v1.5h-1.022c-.016.174-.044.34-.086.5l1.294.217c.139.235.305.455.504.651l1.293-1.293a5.972 5.972 0 0 0 .956.504l.218-1.293c.338-.106.658-.269.956-.504l-1.294-.217c-.044-.257-.066-.515-.066-.774h1.5v-1.023h-1.5c-.174-.016-.34-.044-.5-.086l-.217-1.294c-.235-.139-.455-.305-.651-.504l1.293-1.293c.196-.198.364-.416.504-.651l1.294.217c.044.163.073.331.086.497H11.5v-1.5h-1.022a6.028 6.028 0 0 0 .086-.5l1.294-.217c.257-.044.515-.066.774-.066l.217 1.294c.139-.074.27-.158.384-.251l1.294-.217a5.97 5.97 0 0 0 .504-.956l-1.293-.217c-.045-.258-.067-.516-.067-.774h1.5v-1.023h-1.5c.016-.174.044-.34.086-.5l-1.294-.217c-.139-.235-.305-.455-.504-.651l-1.293 1.293c-.197-.14-.417-.306-.652-.504l.217-1.293c.074-.139.158-.27.251-.384l-.217-1.294zM8 10.25a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5z"/>
              </svg> Admin
            </a>      
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row tm-content-row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 tm-block-col m-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container table-responsive table-striped">
            <% if(productData && productData.length > 0){ %>
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">PRODUCT IMAGE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">BRAND</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">ACTION</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <% productData.forEach(product =>{ %>
                    <tr>
                      <th scope="row"><input type="checkbox" class="productCheckbox" value="<%= product._id %>" /></th>
                      <td class="tm-product-name img-fluid"><img src="/uploads/<%= product.images[0] %>" alt="Product Image" width="100px" height="100px"></td>
                      <td><%= product.title %></td>
                      <td><%= product.price %></td>
                      <td>
                        <% const brand = brandData.find(brand => brand._id.toString() === product.brand.toString()); %>
                        <%= (brand && brand.brandName) ? brand.brandName : 'N/A' %>
                      </td>
                      <td><%= product.stock %></td>
                      <td>
                        <a href="/admin/product_edit/<%= product._id %>" class=" text-danger">
                          <i class="far fa-edit tm-product-edit-icon"></i> Edit
                        </a>
                      </td>
                      <td>
                        <a href="/admin/product_delete/<%= product._id %>" class="tm-product-delete-link" onclick="deleteProduct('<%= product._id %>',event)">
                          <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                      </td>
                    </tr>
                  <% }) %>  
                </tbody>
              </table>   
            
          </div>
          <div class="d-flex justify-content-center mt-2 mb-1">
            <div class="demo" data-current-page="<%= currentPage %>" data-total-pages="<%= pages %>">
              <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item">
                    <% if(currentPage === pages){ %>
                      <a href="#" class="page-link" aria-label="Previous" id="prevPage">
                        <span aria-hidden="true">»</span>
                      </a>
                    <% }else{ %>  
                      <a href="/admin/productlist?page=<%= currentPage+1 %>" class="page-link" aria-label="Previous" id="prevPage">
                         <span aria-hidden="true">»</span>
                       </a>
                    <% } %>   
                  </li>
                  <% for(let i=1;i<=pages;i++){ %>  
                    <% if(i === currentPage){ %>     
                      <li class="page-item active"><a class="page-link" href="/admin/productlist?page=<%= i %>"><%= i %></a></li>    
                    <% }else{ %> 
                      <li class="page-item"><a class="page-link" href="/admin/productlist?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                  <% } %>                  
                      <li class="page-item">
                        <%if(currentPage === 1){ %>
                          <a href="#" class="page-link" aria-label="Next" id="nextPage">
                            <span aria-hidden="true">«</span>
                          </a>
                        <% }else{ %>  
                          <a href="" class="page-link" aria-label="Next" id="nextPage">
                            <span aria-hidden="true">«</span>
                          </a>
                        <% } %>  
                      </li>
                </ul>
              </nav>
            </div>
          </div>
          <% }else{ %>
            <p>Please add Product.</p>
          <% } %> 
          <a
            href="/admin/product_add"
            class="btn btn-primary btn-block text-uppercase mb-3">Add new product
          </a>
          <a
            href="#" 
            class="btn btn-primary btn-block text-uppercase" onclick="deleteSelectedProducts()">Delete selected products
          </a>
        </div>
      </div>
    </div>
  </div>  
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2023</b> All rights reserved. 
              
        Design: <a rel="nofollow noopener" href="" class="tm-footer-link">Bonito eCommerce Platform.</a>
      </p>
    </div>
  </footer>
    
  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    // nav dropdown item
    $(function () {
      // Initialize Bootstrap components here
      $('[data-toggle="dropdown"]').dropdown();
    
      // Other code for charts and functionality
    });

    $(function() {
      $(".tm-product-name").on("click", function() {
        window.location.href = "edit-product.html";
      });
    });
   
    // paginatation
    $(function() {
      // Handle the click event for the "Edit" button
      $(".tm-product-edit-link").on("click", function(e) {
        e.preventDefault(); // Prevent the default link behavior
        // Get the product name from the corresponding row
        var productName = $(this).closest("tr").find(".tm-product-name").text();
        // Redirect to the edit-product.html page with the product name as a query parameter
        window.location.href = "edit-product.html?product=" + encodeURIComponent(productName);
      });
    });

    async function deleteProduct(productId,event) {
      event.preventDefault();
      const confirmed = confirm('Are you sure you want to delete this product?');
      if(confirmed){
        try {
          const response = await fetch(`/admin/product_delete/${productId}`,{
            method: 'DELETE'
          })

          if (response.ok){
            console.log('Category deleted successfully.');
            window.location.reload();
          }else{
            throw new Error('Network response was not ok');
          }
        } catch (error) {
          console.error('Error deleting category: ',error);
        }
      }
    }

    function deleteSelectedProducts(){
      const confirmed = confirm('Are you sure do you want delete these products.');
      if(confirmed){
        const productCheckboxes = document.querySelectorAll('.productCheckbox');
        const seletedProductIds = Array.from(productCheckboxes)
        .filter(checkbox => checkbox.checked)
        .map(checkbox => checkbox.value);
      
        const selectedIdsString = seletedProductIds.join(',');
        fetch(`/admin/delete_selected_products/${selectedIdsString}`,{
          method:'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ productIds: seletedProductIds })
        })
        .then(response => response.json())
        .then(data => {
          console.log('Server response: ',data);
          window.location.reload();
        })
        .catch(error => {
          console.error('Error ',error);
        })
      }
    }

  </script>
</section>

</body>




<%- include('../partials/adminFooter.ejs') %>