<%- include('../partials/userHeader.ejs') %>

 <!-- Page Header Start -->
 <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Whishlist</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Wiselist Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <% if(wishlistData && wishlistData.length>0){ %>
            <div class="col table-responsive mb-5">
                <table class="table">
                    <% wishlistData.forEach(wishlistItem => { %>
                      <% wishlistItem.wishlistProducts.forEach(product => { %>
                        <tr>
                          <td class="align-middle" style="width: 20%;">
                            <% if (product && product.images && product.images.length > 0) { %>
                              <img src="/uploads/<%= product.images[0] %>" alt="Product Image" style="width: 50px;">
                            <% } else { %>
                              <p>No image available</p>
                            <% } %>
                          </td>
                          <td class="align-middle" style="width: 60%;">
                            <% if (product) { %>
                             <a href="/product_detailes/<%= product._id %>"><%= product.title %></a>
                            <% } else { %>
                              <p>No Product Data available</p>
                            <% } %>
                          </td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-primary removeButton text-end" onclick="removeWishlistItem('<%= wishlistItem._id %>','<%= product._id %>')">
                                <i class="fa fa-times"></i>
                            </button>
                          </td>
                        </tr>
                      <% }); %>
                    <% }); %>
                  </table>                      
            </div>
        <% }else{ %>
            <p>Add Product to Wiselist</p>
        <% } %>
    </div>
</div>
<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
      <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
          <a href="" class="text-decoration-none">
              <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">B</span>ONITO</h1>
          </a>
          <p class="fw-light">"Bonito: Where Style Meets Elegance. Unleash Your Fashion Journey with Timeless Trends and Unforgettable Looks".</p>
          <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Bengaluru, Karnadaka</p>
          <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>bonito@gmail.com</p>
          <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
      </div>
      <div class="col-lg-8 col-md-12">
          <div class="row">
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Pages</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                      <a class="text-dark mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                  </div>
              </div>
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Helps</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-dark mb-2" href="www.linkedin.com/in/albin-pious-3906b224b" target="_blank"><i class="fa fa-angle-right mr-2"></i>FAQs</a>
                      <a class="text-dark mb-2" href="www.linkedin.com/in/albin-pious-3906b224b" target="_blank"><i class="fa fa-angle-right mr-2"></i>Help</a>
                      <a class="text-dark mb-2" href="www.linkedin.com/in/albin-pious-3906b224b" target="_blank"><i class="fa fa-angle-right mr-2"></i>Support</a>
                  </div>
              </div>
              <!-- <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                  <form action="">
                      <div class="form-group">
                          <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                              required="required" />
                      </div>
                      <div>
                          <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                      </div>
                  </form>
              </div> -->
          </div>
      </div>
  </div>
  <div class="row border-top border-light mx-xl-5 py-4">
      <div class="col-md-6 px-xl-0">
          <p class="mb-md-0 text-center text-md-left text-dark">
              &copy; <a class="text-dark font-weight-semi-bold" href="#">Bonito</a>. All Rights Reserved.
          </p>
      </div>
      <div class="col-md-6 px-xl-0 text-center text-md-right">
          <img class="img-fluid" src="img/payments.png" alt="">
      </div>
  </div>
</div>
<!-- Footer End -->


<script>
    function removeWishlistItem(wishlistId, productId){
        console.log('wishlist id is: ',wishlistId);
        $.ajax({
            url: '/remove_saveditem',
            data: {
                wishlistId: wishlistId,
                productId: productId
            },
            method: 'post',
            success: function(response){
                window.location.reload();
                if(response.status){
                    console.log('Removal success');
                }else{
                    console.log('Removal was not successful.');
                }
            },
            error: function(xhr,status,error){
                console.log('AJAX error: ',status,error);
            },
            complete: function(){
                console.log('AJAX request completed.');
            }
        })
    }
</script>
<%- include('../partials/userFooter.ejs') %>